.table-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  padding: 15px 25px;
  width: 800px;
  max-width: 960px;
  
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  
}

th {
  background-color: #457b9d;
}

td {
  background-color: #457b9d;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 18px;
}

button {
  border-radius: 10%;
}
