body {
  margin: 0;
  font-family: roboto;
}

.nav-header {
  margin-right: auto;
}
h4 {
  margin: auto;
}

.table-comp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  
}

th {
  background-color: #a8dadc;
 
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.load-input {
  font-size: small;
}